body {
  padding-top: 70px;
  font: 300 16px/1.5 "Source Sans Pro", "Lucida Grande", "Verdana", "Arial", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #555;
}

body > .navbar-fixed-top {
  background: #FE6E7E;
  border-bottom: 0;

  .navbar-brand, .navbar-nav > li > a, .navbar-nav > li.active > a {
    &, &:hover {
      color: #fff;
    }
  }

  .navbar-nav > li > a {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .navbar-nav > li.active > a {
    background: #C75663;

    &:hover {
      background: #BF4B56;
    }
  }

  .navbar-toggle {
    border-color: #fff;

    &:hover {
      background: #C75663;
    }

    .icon-bar {
      background: #fff;
    }
  }

  .navbar-brand {
    font-weight: bold;
  }
}

h1, h2, h3, h4, h5, h6, legend {
  color: #111;
  font-weight: 400;
  font-family: inherit;
}

#searchForm {
  fieldset > .row {
    margin-bottom: 1em;

    .col-xs-9 {
      padding-right: 0;
    }
  }
}

.carousel {
  .item {
    color: #fff;
    overflow: hidden;

    h1, h2, h3 {
      color: inherit;
    }
    img {
      width: 100%;
    }
  }
}

#historyResults, #starredResults {
  list-style: none;
  padding-left: 0;

  li {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;

    header {
      h2, .rating {
        display: inline-block;
      }
      h2 {
        margin-right: 0.5em;
      }
      .rating {
        font-size: 1.4em;
        color: #ffc90e;
      }
    }

    img {
      width: 100%;
    }
  }
}

.eatListRecipe {

  h2 {
    margin-bottom: 1em;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      border-bottom: 1px solid #ddd;
      color: #777;
      overflow: hidden;
      
      h4, p, .close {
        line-height: 1em;
        margin: 10px 0;
      }

      .close {
        float: left;
        margin-right: 0.5em;
      }
    }
  }
}
