body {
  padding-top: 70px;
  font: 300 16px/1.5 "Source Sans Pro", "Lucida Grande", "Verdana", "Arial", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #555;
}

body > .navbar-fixed-top {
  background: #e82c0c;
  border-bottom: 0;

  .navbar-brand, .navbar-nav > li > a, .navbar-nav > li.active > a {
    &, &:hover {
      color: #fff;
    }
  }

  .navbar-nav > li.active > a {
    background: #c22308;

    &:hover {
      background: #ab1d05;
    }
  }

  .navbar-toggle {
    border-color: #fff;

    &:hover {
      background: #ab1d05;
    }

    .icon-bar {
      background: #fff;
    }
  }

  .navbar-brand {
    font-weight: bold;
  }
}

h1, h2, h3, h4, h5, h6, legend {
  color: #111;
  font-weight: 400;
  font-family: inherit;
}

#searchForm {
  fieldset > .row {
    margin-bottom: 1em;

    .col-xs-9 {
      padding-right: 0;
    }
  }
}

.carousel {
  .item {
    color: #fff;
    overflow: hidden;

    h1, h2, h3 {
      color: inherit;
    }
    img {
      width: 100%;
    }
  }
}

#history {
  padding-left: 0px;
  padding-right: 0px;
}

#historyResults, #starredResults {
  list-style: none;
  padding-left: 0;

  li {

    header {
      h2, .rating {
        display: inline-block;
      }
      h2 {
        margin-right: 0.5em;
      }
      .rating {
        font-size: 1.4em;
        color: #ffc90e;
      }
    }

    div.imageHolder {
      background-position-y: 50%;
      height: 200px;
      position: relative;
    }

    div.overlay {
      background-color: rgba(0,0,0,0.7);
      color: white;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: 10px 20px;
    }

    h2 {
      color: white !important;
      font-size: 24px;
      -webkit-font-smoothing: antialiased;
    }

  }
}
