body {
  padding-top: 70px;
  font: 300 16px/1.5 "Source Sans Pro", "Lucida Grande", "Verdana", "Arial", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #555; }

body > .navbar-fixed-top {
  background: #fe6e7e;
  border-bottom: 0; }
  body > .navbar-fixed-top .navbar-brand, body > .navbar-fixed-top .navbar-brand:hover, body > .navbar-fixed-top .navbar-nav > li > a, body > .navbar-fixed-top .navbar-nav > li > a:hover, body > .navbar-fixed-top .navbar-nav > li.active > a, body > .navbar-fixed-top .navbar-nav > li.active > a:hover {
    color: #fff; }
  body > .navbar-fixed-top .navbar-nav > li > a {
    padding-top: 16px;
    padding-bottom: 16px; }
  body > .navbar-fixed-top .navbar-nav > li.active > a {
    background: #c75663; }
    body > .navbar-fixed-top .navbar-nav > li.active > a:hover {
      background: #bf4b56; }
  body > .navbar-fixed-top .navbar-toggle {
    border-color: #fff; }
    body > .navbar-fixed-top .navbar-toggle:hover {
      background: #C75663; }
    body > .navbar-fixed-top .navbar-toggle .icon-bar {
      background: #fff; }
  body > .navbar-fixed-top .navbar-brand {
    font-weight: bold; }

h1, h2, h3, h4, h5, h6, legend {
  color: #111;
  font-weight: 400;
  font-family: inherit; }

#searchForm fieldset > .row {
  margin-bottom: 1em; }
  #searchForm fieldset > .row .col-xs-9 {
    padding-right: 0; }

.carousel .item {
  color: #fff;
  overflow: hidden; }
  .carousel .item h1, .carousel .item h2, .carousel .item h3 {
    color: inherit; }
  .carousel .item img {
    width: 100%; }

#historyResults, #starredResults {
  list-style: none;
  padding-left: 0; }
  #historyResults li, #starredResults li {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #eee; }
    #historyResults li header h2, #historyResults li header .rating, #starredResults li header h2, #starredResults li header .rating {
      display: inline-block; }
    #historyResults li header h2, #starredResults li header h2 {
      margin-right: 0.5em; }
    #historyResults li header .rating, #starredResults li header .rating {
      font-size: 1.4em;
      color: #ffc90e; }
    #historyResults li img, #starredResults li img {
      width: 100%; }

.eatListRecipe h2 {
  margin-bottom: 1em; }
.eatListRecipe ul {
  list-style: none;
  padding-left: 0; }
  .eatListRecipe ul li {
    border-bottom: 1px solid #ddd;
    color: #777;
    overflow: hidden; }
    .eatListRecipe ul li h4, .eatListRecipe ul li p, .eatListRecipe ul li .close {
      line-height: 1em;
      margin: 10px 0; }
    .eatListRecipe ul li .close {
      float: left;
      margin-right: 0.5em; }

.hideBg {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden; }
  .hideBg #confirmation {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: white; }
  .hideBg #confirmation.fade {
    bottom: -200px;
    -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
    -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
    transition: opacity 0.3s linear, bottom 0.3s ease-out; }
  .hideBg #confirmation.fade.in {
    bottom: 0px; }

.hideBg.fade {
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  opacity: 0; }

.hideBg.fade.in {
  opacity: 1; }

.preventScrolling {
  height: 100%;
  overflow: hidden; }

.btn {
  text-transform: uppercase;
  border-radius: 0;
  border: 0; }
  .btn.btn-primary {
    color: #fff;
    background: #fe6e7e; }
  .btn.btn-default {
    background: #ddd; }
  .btn .glyphicon {
    font-size: 0.9em;
    margin-right: 5px; }

.btn-group {
  margin: 1em 0; }
  .btn-group .btn {
    margin-right: 0.5em;
    border-radius: inherit; }

form#confirmation .btn-group {
  display: block; }

.flash {
  transition: 1.0;
  background-color: #ffc !important; }
