<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trolley &mdash; Shop Simple</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- Application CSS -->
    <link rel="stylesheet" href="/css/application.css">

    <!-- Backbone -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script> 

  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Trolley</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="tab-switch">
            <li class="active"><a href="#eat-now">Eat Now</a></li>
            <li><a href="#history">History</a></li>
            <li><a href="#starred">Starred</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="eat-now" class="container">
      <div id="error"></div>

      <form action="javascript:hideKeyboard()" role="form" id="searchForm" class="form-inline">
        <fieldset>
          <legend>What's for dinner?</legend>
          <div class="row">
            <div class="form-group col-md-10 col-xs-9">
              <label for="search" class="sr-only">Desired Dish Name</label>
              <input id="search" type="search" class="form-control input-lg" placeholder="e.g. Thai Green Curry, Bolognese&hellip;" />
            </div>
            <div class="form-group col-md-2 col-xs-3">
              <select id="servings" name="servings" class="form-control input-lg">
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
              </select>
            </div>
          </div><!-- /.row -->
        </fieldset>
      </form>

      <div class="carousel slide" data-ride="carousel">
        <div id="searchResults" class="carousel-inner">
          <!-- results here -->
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div> <!-- /container -->

    <div id="history" class="container" style="display: none;">
      <div id="historyResults">History</div>
    </div>

    <div id="starred" class="container" style="display: none;">
      Starred
    </div>

    <script type="text/template" id="errorTemplate">
      <span style="background-color: red; color: white;">Error: <%=statusCode%></span>
    </script>

    <script type="text/template" id="searchResultTemplate">
      <div class="item active">
        <img src="<%= imageURL %>" alt="<%= name %>" />
        <div class="carousel-caption">
          <h3><%= name %></h3>
          <p><%= description %></p>
        </div>
      </div>
    </script>

    <script type="text/template" id="historyRecipeTemplate">
      <div>
        Name: <%= name %>
        <img src="<%= imageURL %>" />
      </div>
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- Application JS -->
    <script src="/js/trolley.js"></script>
  </body>
</html>
