<!DOCTYPE html>
<html>
<head>
    <title>Trolley</title>

    <link rel="stylesheet" href="/css/application.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script> 

    <script src="/js/trolley.js"></script> 

</head>
<body>

<h1>I like trolleys!</h1>

<div id="error"></div>

<form action="">
  <input id="search" type="text" placeholder="" />
</form>

<div id="searchResults">


<script type="text/template" id="errorTemplate">
  <span style="background-color: red; color: white;">Error: <%=statusCode%></span>
</script>

<script type="text/template" id="searchResultTemplate">
  <div>
    Name: <%= name %>
    <img src="<%= url %>" />
  </div>
</script>

</body>
</html>
